/* navigation */
nav {
	color: $textColor;
	box-sizing: border-box;
	width: 100vw;
	background-color: $black;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 150px;
	position: fixed;
	top: 0;
}
.navContainer {
	margin: 0;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.audioSwich {
	background-color: transparent;
	border: none;
	color: $textColor;
}
.audioSwich:hover {
	transform: scale(1.3);
	color: $textColorOver;
}
.audioOn {
	display: block;
}
.audioOff {
	display: none;
}
nav ul {
	display: flex;
	align-items: flex-start;
}
nav ul li {
	padding: 0 1em;
}
nav ul li:hover {
	cursor: pointer;
	transform: scale(1.3);
	color: $textColorOver;
}
#mc_embed_signup_scroll {
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: $textColor;
}
#mc_embed_signup_scroll label {
	color: $textColorOver;
	font-family: "Reggae One", cursive;
	width: 100%;
}

#mc_embed_signup input.button {
	background-color: rgb(75, 75, 75);
	padding: 0;
}
#mc_embed_signup input.button:hover {
	border: 1px solid $textColorOver;
	color: $textColorOver;
}

/* side tower */
.side {
	width: 130px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: fixed;
	z-index: 20;
	// display: none;
}
.sideL {
	background-position: right;
	background-image: url(../images/castel-sideL.svg);
	top: 0;
	left: 0;
}
.sideR {
	background-position: left;
	background-image: url(../images/castel-sideR.svg);
	top: 0;
	right: 0;
}

footer {
	background-color: $black;
	width: 100%;
	position: fixed;
	z-index: 15;
	bottom: 0;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
}
footer ul li {
	padding: 0px 30px;
}
footer ul li a {
	padding: 10px 30px;
	display: inline-block;
	font-size: 2em;
}

@media only screen and (min-width: 1300px) {
	nav {
		padding: 0 15vw;
	}

	.side {
		width: 10vw;
	}
}
