/* header */
header {
	height: 160px;
	background-image: url(../images/assets/brick-pattern.svg);
	background-repeat: repeat;
	background-size: auto 100px;
	background-position: bottom;
	position: fixed;
	top: 0;
	z-index: 6;
	color: $textColor;
	/* navigation */
	nav {
		color: $textColor;
		box-sizing: border-box;
		width: 100vw;
		background-color: rgba(50, 50, 50, 0.8);
		display: flex;
		flex-wrap: wrap-reverse;
		justify-content: space-between;
		padding: 0 12vw;
		.navContainer {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			.audioSwich {
				font-size: 1.2em;
				background-color: transparent;
				border: none;
				color: $textColor;
				cursor: pointer;
			}
			.audioSwich:hover {
				color: $textColor;
			}
			.audioOn {
				display: block;
			}
			.audioOff {
				display: none;
			}
		}
		#company-logo {
			margin: 5px;
			padding: 5px;
			background-color: rgba(255, 255, 255, 0.9);
			border-radius: 3px;
		}
		#company-logo:hover {
			border: none;
			background-color: rgba(255, 255, 255, 0.9);
			transform: scale(1);
		}
	}
}

// MailChimp
#mc_embed_signup_scroll {
	width: 100%;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: flex-start;
	color: $textColor;
}

#mc_embed_signup input.button {
	background-color: rgb(75, 75, 75);
	color: $textColor;
	padding: 0;
}

#mc_embed_signup input.button:hover {
	background-color: rgb(50, 50, 50);
	transform: scale(1.1);
	border: 1px solid $textColor;
	color: $textColor;
}
/* side tower */
.side {
	width: 10vw;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: fixed;
	z-index: 20;
}
.sideL {
	background-position: right;
	background-image: url(../images/assets/castel-sideL.svg);
	top: 0;
	left: 0;
}
.sideR {
	background-position: left;
	background-image: url(../images/assets/castel-sideR.svg);
	top: 0;
	right: 0;
}

footer {
	background-color: rgba(50, 50, 50, 0.8);
	width: 100%;
	position: fixed;
	z-index: 15;
	bottom: 0;
	ul li {
		margin: 0 32px;
		a {
			cursor: pointer;
			display: inline-block;
			font-size: 2em;
			text-decoration: none;
			color: $textColor;
		}
	}
}
// ul li a {
// 	margin: 0 32px;
// 	cursor: pointer;
// 	display: inline-block;
// 	font-size: 1em;
// 	text-decoration: none;
// 	color: $textColor;
// }

@media only screen and (max-width: 600px) {
	nav {
		justify-content: center;
		.navContainer {
			margin: 0 auto;
		}
		#mc_embed_signup_scroll {
			flex-wrap: wrap;
		}
	}
}
