// $textColor: rgb(242, 255, 0);
$textColor: rgb(255, 238, 0);
$black: rgb(50, 50, 50);
$header: "Reggae One", cursive;

body {
	margin: 0;
	padding: 0;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
	color: $textColor;
}
a:hover {
	transform: scale(1.2);
	color: $textColor;
}
h2 {
	text-transform: uppercase;
	font-family: $header;
	color: $textColor;
	text-align: center;
}
article {
	margin: 0;
}
section {
	padding: 1em;
	margin: 2em 150px;
	border-radius: 10px;
	background-color: rgb(50, 50, 50);
}
section:hover {
	border: 1px solid $textColor;
}

section img {
	display: block;
	padding: 1em;
	margin: 1em auto;
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.6);
	max-width: 100px;
}
section video {
	display: block;
	margin: 0 auto;
}

main {
	color: white;
	min-height: 100vh;
	padding: 250px 0px 150px 0px;
	background-size: 100%;
	background-color: rgb(75, 75, 75);
}
video {
	max-width: 500px;
}

@media only screen and (min-width: 1300px) {
	main {
		padding: 300px 15vw 0 15vw;
	}
	header h1 {
		padding-top: 0;
		font-size: 70px;
	}
	header img {
		width: 350px;
	}
}
