// $textColor: rgb(242, 255, 0);
$textColor: rgb(255, 238, 0);
$black: rgb(50, 50, 50);
$header: "Reggae One", cursive;

body {
	margin: 0;
	padding: 0;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
}

ul li {
	font-family: $header;
	font-size: 1em;

	padding: 0.5em 2em;
}
ul li:hover {
	transform: scale(1.3);
}
ul li a {
	cursor: pointer;

	display: inline-block;
	font-size: 2em;
	text-decoration: none;
	color: $textColor;
}
a:hover {
	transform: scale(1.2);
	color: $textColor;
}
h1 {
	font-family: "Reggae One", cursive;
	text-align: center;
	text-transform: uppercase;
	font-size: 3em;
	margin: 24px;
	color: rgba(0, 0, 0, 0.6);
}
h2 {
	text-transform: uppercase;
	font-family: $header;
	color: $textColor;
	text-align: center;
}
main {
	color: white;
	min-height: 100vh;
	background-size: 100%;
	background-image: url(../images/brick-pattern-dark.svg);
	background-repeat: repeat;
	background-size: auto 100px;
	background-position: bottom;
	padding: 200px 10vw 100px 10vw;
}
section {
	padding: 1em;
	margin: 2em;
	border-radius: 10px;
	background-color: rgba(50, 50, 50, 0.8);
}
section:hover {
	border: 1px solid $textColor;
}

section img {
	display: block;
	padding: 1em;
	margin: 1em auto;
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.6);
	max-width: 100px;
}
section video {
	display: block;
	margin: 0 auto;
	max-width: 500px;
}

@media only screen and (max-width: 1000px) {
	h1 {
		font-size: 2em;
	}
}
@media only screen and (max-width: 600px) {
	h1 {
		font-size: 1.5em;
	}
}
