// $textColor: rgb(242, 255, 0);
$textColor: #ffee00;
$black: rgb(50, 50, 50);
$header: "Reggae One", cursive;

body {
	margin: 0;
	padding: 0;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
}

ul li {
	display: inline-block;
	font-family: $header;
	font-size: 1em;
	text-align: center;
	cursor: pointer;
	padding: 6px 12px;
	border-radius: 4px;
	transition: 0.4s;
}
ul li:hover {
	border: 1px solid $textColor;
	background-color: rgb(50, 50, 50);
	transform: scale(1.1);
}
#support,
#play {
	color: darken($textColor, 20);
}
#support:hover,
#play:hover {
	color: darken($textColor, 20);
	background-color: transparent;
	transform: scale(1);
	border: none;
	cursor: default;
}
ul li a {
	cursor: pointer;

	display: inline-block;
	font-size: 2em;
	text-decoration: none;
	color: $textColor;
}
h1 {
	font-family: $header;
	text-align: center;
	text-transform: uppercase;
	font-size: 3em;
	margin: 24px;
	color: rgba(50, 50, 50, 0.7);
}
h2 {
	font-family: $header;
	text-transform: uppercase;
	color: $textColor;
	text-align: center;
}
h3 {
	font-family: $header;
	text-transform: uppercase;
	color: $textColor;
	text-align: center;
}
p {
	text-align: center;
}
main {
	color: white;
	background-color: transparent;
	background-size: 100%;
	background-image: url(../images/brick-pattern-dark.svg);
	background-repeat: repeat;
	background-size: auto 100px;
	background-position: bottom;
	background-attachment: fixed;
	padding: 200px 10vw 100px 10vw;
}

section {
	max-width: 800px;
	padding: 1em;
	margin: 2em auto;
	border-radius: 10px;
	background-color: rgba(50, 50, 50, 0.8);
}
section:hover {
	border: 1px solid $textColor;
}

section img {
	display: block;
	padding: 0.5em;
	margin: 1em auto;
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.6);
	max-width: 100px;
}
section video {
	display: block;
	margin: 0 auto;
	max-width: 500px;
}
.timeline-nav-container img {
	max-width: 80%;
	background-color: transparent;
}
//svg
.timeline-nav {
	margin: 3em;
}
.timeline,
.week {
	fill: $textColor;
}
.week {
	fill: darken($textColor, 20);
	font-size: 14px;
	font-family: ReggaeOne-Regular, Reggae One;
}
.week:hover {
	fill: $textColor;
}

.production {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.production iframe {
	box-sizing: border-box;
	padding: 1em;
	width: 80%;
}
.production .small {
	width: 40%;
}
.narrative img {
	display: block;
	padding: 0.5em;
	margin: 1em auto;
	border-radius: 10px;
	background-color: transparent;
	max-width: 60%;
}
.team {
	display: flex;
	flex-wrap: wrap;
}
.team-member {
	margin: 0 auto;
	width: 350px;
	display: flex;
	color: $textColor;
	align-items: center;
}
.team-member:hover {
	background-color: rgb(50, 50, 50);
}
.team-member a {
	display: inline-block;
	text-decoration: none;
	font-family: $header;
	color: darken($textColor, 20);
	width: 100%;
}
.team-member a:hover {
	color: $textColor;
	text-decoration: underline;
}
.team-member img {
	margin: 1em;
}
.team-contact * {
	margin: 0 auto;
	text-align: center;
}
@media only screen and (max-width: 1000px) {
	h1 {
		font-size: 2em;
	}
	.production .small {
		width: 80%;
	}
}
@media only screen and (max-width: 600px) {
	h1 {
		font-size: 1.5em;
	}
}
