.unity-container {
	width: 100vw;
	height: 100vh;
}

#unity-canvas {
	position: relative;
	margin: 0 auto;
	top: calc(50vh - 300px);
	left: calc(50vw - 480px);
}
#unity-footer {
	display: flex;
	justify-content: center;
	position: relative;
	top: calc(50vh - 250px);
}
#unity-loading-bar {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: none;
}
#unity-logo {
	width: 154px;
	height: 130px;
	background: url("../Build/TemplateData/unity-logo-dark.png") no-repeat center;
}
#unity-progress-bar-empty {
	width: 141px;
	height: 18px;
	margin-top: 10px;
	background: url("../Build/TemplateData/progress-bar-empty-dark.webp")
		no-repeat center;
}
#unity-progress-bar-full {
	width: 0%;
	height: 18px;
	margin-top: 10px;
	background: url("../Build/TemplateData/progress-bar-full-dark.webp") no-repeat
		center;
}

.unity-mobile #unity-footer {
	display: none;
}

#unity-build-title {
	margin-right: 10px;
	line-height: 38px;
	font-family: "Reggae One", cursive;
	color: #ffee00;
	font-size: 18px;
}
#unity-fullscreen-button {
	width: 38px;
	height: 38px;
	background: url("../Build/TemplateData/fullscreen-button.svg") no-repeat
		center;
}
#unity-fullscreen-button:hover {
	width: 38px;
	height: 38px;
	background: url("../Build/TemplateData/fullscreen-button-hover.svg") no-repeat
		center;
}
#unity-mobile-warning {
	position: absolute;
	left: 50%;
	top: 5%;
	transform: translate(-50%);
	background: white;
	padding: 10px;
	display: none;
}
#game-icon {
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 10px;
	display: flex;
	align-items: center;
	margin: 0;
	padding: 10px;
}
.game-icon img {
	display: block;
	height: 38px;
}
@media only screen and (max-width: 480px) {
	.unity-container {
		display: none;
	}
}
