.unity-container {
	width: 100vw;
	height: 100vh;
}

#unity-canvas {
	position: relative;
	margin: 0 auto;
	top: calc(50vh - 300px);
	left: calc(50vw - 480px);
}

#unity-loading-bar {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: none;
}
#unity-logo {
	width: 154px;
	height: 130px;
	background: url("../Build/TemplateData/unity-logo-dark.png") no-repeat center;
}
#unity-progress-bar-empty {
	width: 141px;
	height: 18px;
	margin-top: 10px;
	background: url("../Build/TemplateData/progress-bar-empty-dark.webp")
		no-repeat center;
}
#unity-progress-bar-full {
	width: 0%;
	height: 18px;
	margin-top: 10px;
	background: url("../Build/TemplateData/progress-bar-full-dark.webp") no-repeat
		center;
}

.unity-mobile #unity-footer {
	display: none;
}

#unity-footer {
	max-width: 960px;
	margin: 0 auto;
	border-radius: 10px;
	justify-content: space-evenly;
	align-items: center;
	position: relative;
	top: calc(50vh - 300px);
}

#game-support {
	background-color: rgba(0, 0, 0, 0.6);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

#game-support .label {
	padding: 5px 0;
	background-color: rgb(50, 50, 50);
	border: none;
	width: 33%;
	font-family: "Montserrat", sans-serif;
	color: #ffee00;
	font-size: 18px;
	cursor: pointer;
}
#game-support .label:hover {
	border: 1px solid $textColor;
}

#unity-mobile-warning {
	position: absolute;
	left: 50%;
	top: 5%;
	transform: translate(-50%);
	background: white;
	padding: 10px;
	display: none;
}
#game-icon {
	background-color: rgba(0, 0, 0, 0.6);
	display: flex;
	justify-content: center;
}
.game-icon {
	padding: 10px 20px;
	cursor: pointer;
}
.showInfo {
	font-family: "Montserrat", sans-serif;
	background-color: white;
	padding: 20px;
	position: absolute;
	opacity: 0%;
}
.showInfo:hover {
	transform: translate(0);
}
.game-icon img {
	display: block;
	height: 38px;
}
@media only screen and (max-width: 480px) {
	.unity-container {
		display: none;
	}
}
