/* timeline */
.timeline-nav-container img {
	max-width: 80%;
	background-color: transparent;
}

.timeline-nav {
	margin: 3em;
}
.timeline,
.week {
	fill: #ffee00;
}
.week {
	cursor: pointer;
	fill: rgb(200, 200, 200);
	font-size: 14px;
	font-family: "Reggae One", cursive;
}
.week:hover {
	fill: #ffee00;
}

/* development */
.internal-link {
	cursor: text;
	display: block;
	text-decoration: none;
	color: #434242;
	font-size: 0.8em;
}
.internal-text {
	cursor: text;
	text-decoration: none;
	color: white;
}
.development {
	padding-top: 160px;
}

.development img {
	max-width: 90%;
}
.development iframe {
	border: 0;
	margin: 2em auto;
	width: 90%;
}
.development #video {
	max-width: 600px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
}
.video {
	max-width: 600px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
}
.development .small {
	width: 45%;
}
hr {
	position: relative;
	top: 160px;
}

@media only screen and (max-width: 1000px) {
	.development .small {
		width: 80%;
	}
}
@media only screen and (max-width: 600px) {
	.development {
		padding-top: 2em;
	}

	.development figure img {
		padding: 0;
		margin: 0;
		max-width: 100%;
	}
	hr {
		position: relative;
		top: 2em;
	}
	.timeline-nav {
		display: none;
	}
	#video {
		display: none;
	}
	.team-member {
		font-size: 0.8em;
		margin: 1em auto;
		width: 350px;
		display: block;
		color: #434242;
		align-items: center;
	}
	.team-member img {
		margin: 0 auto;
	}
}
