/* timeline */
.timeline-nav-container img {
	max-width: 80%;
	background-color: transparent;
}

.timeline-nav {
	margin: 3em;
}
.timeline,
.week {
	fill: #ffee00;
}
.week {
	cursor: pointer;
	fill: rgb(200, 200, 200);
	font-size: 14px;
	font-family: "Reggae One", cursive;
}
.week:hover {
	fill: #ffee00;
}
#game-description img {
	width: 50%;
}
/* narrative */
.narrative img {
	display: block;
	padding: 0.5em;
	margin: 1em auto;
	border-radius: 10px;
	background-color: transparent;
	max-width: 60%;
}
/* development */
.internal-link {
	cursor: text;
	display: block;
	text-decoration: none;
	color: #434242;
	font-size: 0.8em;
}
.internal-text {
	cursor: text;
	text-decoration: none;
	color: white;
}
.development {
	padding-top: 160px;
}

.development img {
	max-width: 90%;
}
.development iframe {
	border: 0;
	margin: 2em auto;
	width: 90%;
}
.development #video {
	max-width: 600px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
}
.video {
	max-width: 600px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
}
.development .small {
	width: 45%;
}
hr {
	position: relative;
	top: 160px;
}
/* team */
.team {
	display: flex;
	flex-wrap: wrap;
}
.team-member {
	margin: 0 auto;
	width: 350px;
	display: flex;
	color: #ffee00;
	align-items: center;
}
.team-member:hover {
	background-color: rgb(50, 50, 50);
}
.team-member a {
	display: inline-block;
	text-decoration: none;
	font-family: "Reggae One", cursive;
	color: #555555;
	width: 100%;
}
.team-member a:hover {
	color: #434242;
	text-decoration: underline;
}
.team-member img {
	max-width: 100px;
	margin: 1em;
}
.team-contact * {
	margin: 0 auto;
	text-align: center;
}

@media only screen and (max-width: 1000px) {
	.production .small {
		width: 80%;
	}
}
@media only screen and (max-width: 600px) {
	.production {
		padding-top: 2em;
	}
	hr {
		position: relative;
		top: 2em;
	}
	.timeline-nav {
		display: none;
	}
	#video {
		display: none;
	}
	.team-member {
		font-size: 0.8em;
		margin: 1em auto;
		width: 350px;
		display: block;
		color: #434242;
		align-items: center;
	}
	.team-member img {
		margin: 0 auto;
	}
}
