/* timeline */

.timeline-nav {
	margin: 3em;
}
.timeline {
	fill: #ffee00;
}
.week {
	cursor: pointer;
	fill: rgb(200, 200, 200);
	font-size: 14px;
	font-family: "Reggae One", cursive;
}
.week:hover {
	fill: #ffee00;
}

/* development */

.development {
	padding-top: 160px;
}

.development iframe {
	border: 0;
	margin: 5%;
	width: 90%;
}
.development figure img {
	max-width: 100%;
}
.development .video {
	max-width: 800px;

	margin: 2em;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.development iframe {
	width: 50%;
}
.development .small {
	box-sizing: border-box;
	margin: 0;
	padding: 1em;
}
hr {
	position: relative;
	top: 160px;
}

@media only screen and (max-width: 1000px) {
	.development .small {
		width: 80%;
	}
}
@media only screen and (max-width: 800px) {
	.development {
		padding-top: 2em;
	}
	.development .video {
		justify-content: center;
	}

	.development figure {
		padding: 0;
		margin: 0;
		max-width: 100%;
	}
	hr {
		position: relative;
		top: 2em;
	}
	.timeline-nav {
		display: none;
	}
	.development #video {
		display: none;
	}
	.team-member {
		font-size: 0.8em;
		margin: 1em auto;
		width: 350px;
		display: block;
		color: #434242;
		align-items: center;
	}
	.team-member img {
		margin: 0 auto;
	}
}
