#home {
	display: flex;
	flex-direction: column;
	justify-items: center;
	margin: 200px auto 0;
	color: white;
}
a {
	text-decoration: none;
	color: #ffee00;
}
.internal-text {
	cursor: text;
	text-decoration: none;
	color: white;
}
#home figure {
	width: 60%;
	margin: 10% 20%;
}
#home figure img {
	width: 100%;
}

/* narrative */
#narrative {
	display: flex;
	flex-direction: column;
	color: white;
}
a {
	text-decoration: none;
	color: #ffee00;
}
figure img {
	width: 70%;
	height: 100%;
}
/* team */
.team {
	display: flex;
	flex-wrap: wrap;
}
.team-member {
	margin: 0 auto;
	width: 350px;
	display: flex;
	color: #ffee00;
	align-items: center;
}
.team-member:hover {
	background-color: rgb(50, 50, 50);
}
.team-member a {
	display: inline-block;
	text-decoration: none;
	font-family: "Reggae One", cursive;
	color: rgb(200, 200, 200);
	width: 100%;
}
.team-member a:hover {
	color: #ffee00;
	text-decoration: underline;
}
.team-member img {
	max-width: 100px;
	margin: 1em;
}
.team-contact * {
	margin: 0 auto;
	text-align: center;
}
