@import url("https://fonts.googleapis.com/css2?family=Reggae+One&display=swap");
body {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  transform: scale(1.2);
  color: #ffee00;
}

h2 {
  text-transform: uppercase;
  font-family: "Reggae One", cursive;
  color: #ffee00;
  text-align: center;
}

article {
  margin: 0 auto;
  max-width: 600px;
}

section {
  padding: 1em;
  margin: 2em auto;
  border-radius: 10px;
  background-color: #323232;
}

section:hover {
  border: 1px solid #ffee00;
}

section img {
  display: block;
  padding: 1em;
  margin: 1em auto;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.6);
  max-width: 100px;
}

section video {
  display: block;
  margin: 0 auto;
}

main {
  color: white;
  min-height: 100vh;
  padding: 250px 150px 100px 150px;
  background-size: 100%;
  background-color: #4b4b4b;
}

video {
  max-width: 500px;
}

/* header */
header {
  height: 140px;
  width: 100vw;
  background-image: url(../images/castel-component.svg);
  /* background-repeat: no-repeat; */
  background-size: auto 140px;
  background-position: bottom;
  position: fixed;
  top: 50px;
  z-index: 6;
  color: white;
}

.headerNone {
  opacity: 0;
  transition-duration: 1.5s;
}

.headerDisplay {
  padding-top: 200px;
  opacity: 1;
  transition-duration: 1.5s;
}

header h1 {
  font-family: "Reggae One", cursive;
  text-align: center;
  text-transform: uppercase;
  padding-top: 40px;
  font-size: 50px;
  text-shadow: 5px 5px #4b4b4b;
}

header img {
  display: block;
  margin: 0 auto;
  width: 250px;
  padding: 10px;
}

header p {
  font-size: 2em;
  text-align: center;
  display: block;
  width: 50vw;
  margin: 2em auto;
  text-shadow: 5px 5px #4b4b4b;
}

@media only screen and (min-width: 1300px) {
  main {
    padding: 300px 15vw 0 15vw;
  }

  header h1 {
    padding-top: 0;
    font-size: 70px;
  }

  header img {
    width: 350px;
  }
}
/* navigation */
nav {
  color: white;
  box-sizing: border-box;
  width: 100vw;
  background-color: #323232;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 150px;
  position: fixed;
  top: 0;
}

.navContainer {
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.audioSwich {
  font-size: 1.3em;
  background-color: transparent;
  border: none;
  color: white;
}

.audioSwich:hover {
  transform: scale(1.2);
  color: #ffee00;
}

.audioOn {
  display: block;
}

.audioOff {
  display: none;
}

nav ul {
  display: flex;
  align-items: flex-start;
}

nav ul li {
  padding: 0 1em;
}

nav ul li:hover {
  cursor: pointer;
  transform: scale(1.3);
  color: #ffee00;
}

#mc_embed_signup_scroll {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

#mc_embed_signup_scroll label {
  color: #ffee00;
  font-family: "Reggae One", cursive;
  width: 100%;
}

#mc_embed_signup input.button {
  background-color: #4b4b4b;
  padding: 0;
}

#mc_embed_signup input.button:hover {
  border: 1px solid #ffee00;
  color: #ffee00;
}

/* side tower */
.side {
  width: 130px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  z-index: 20;
}

.sideL {
  background-position: right;
  background-image: url(../images/castel-sideL.svg);
  top: 0;
  left: 0;
}

.sideR {
  background-position: left;
  background-image: url(../images/castel-sideR.svg);
  top: 0;
  right: 0;
}

footer {
  background-color: #323232;
  width: 100%;
  position: fixed;
  z-index: 15;
  bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer ul li {
  padding: 0px 30px;
}

footer ul li a {
  padding: 10px 30px;
  display: inline-block;
  font-size: 2em;
}

@media only screen and (min-width: 1300px) {
  nav {
    padding: 0 15vw;
  }

  .side {
    width: 10vw;
  }
}
/* torch */
#torchElement {
  display: block;
  height: 130px;
}

.sideL #torchElement {
  transform: translateX(-20%);
}

.sideR #torchElement {
  transform: translateX(20%);
}

.torch {
  fill: #323232;
}

#fireLeft {
  margin-right: 40px;
  animation: torchElement 1s infinite;
}

#fireRight {
  padding-right: 20px;
  animation: torchElement 1s infinite 0.5s;
}

.yellow {
  fill: #ff0;
}

.opacity {
  fill: #ff00089f;
  opacity: 0.71;
}

.red {
  fill: red;
}

@keyframes torchElement {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* door */
.door {
  margin-top: 100px;
  height: 100vh;
  width: 50vw;
  position: fixed;
  z-index: 5;
  background-size: 100%;
  background-image: url(../images/slide-short.svg);
}

.leftOpen {
  top: 0;
  left: -40%;
  transition: 1.5s ease-out;
}

.left {
  top: 0;
  left: 20px;
  transition: 1.5s ease-out;
}

.rightOpen {
  top: 0;
  right: -40%;
  transition: 1.5s ease-out;
}

.right {
  background-position: top;
  top: 0;
  right: 20px;
  transition: 1.5s ease-out;
}

@media only screen and (min-width: 1300px) {
  .door {
    background-image: url(../images/brik.svg);
  }
}

/*# sourceMappingURL=main.css.map */
