@import url("https://fonts.googleapis.com/css2?family=Reggae+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul li {
  display: inline-block;
  font-family: "Reggae One", cursive;
  font-size: 1em;
  text-align: center;
  cursor: pointer;
  padding: 3px;
  margin: 5px;
  border-radius: 3px;
  transition: 0.4s;
}

ul li:hover {
  border: 1px solid #ffee00;
  background-color: #323232;
  transform: scale(1.1);
}

ul li a {
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  text-decoration: none;
  color: #ffee00;
}

#play a {
  font-size: 1em;
}

h1 {
  font-family: "Reggae One", cursive;
  text-align: center;
  text-transform: uppercase;
  font-size: 2em;
  margin: 24px;
}

h3 .internal-link,
h2 .internal-link,
h1 .internal-link {
  display: none;
}

h2 {
  font-size: 2em;
  font-family: "Reggae One", cursive;
  text-transform: uppercase;
  color: #ffee00;
  text-align: center;
}

h3 {
  font-family: "Reggae One", cursive;
  text-transform: uppercase;
  color: #ffee00;
  text-align: center;
  font-size: 1.3em;
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2em;
  line-height: 1.6em;
  margin: 2em;
  text-align: center;
}

body {
  background-color: transparent;
  background-size: 100%;
  background-image: url(../images/assets/brick-pattern.svg);
  background-repeat: repeat;
  background-size: auto 100px;
  background-position: bottom;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  background-color: black;
}

main {
  color: white;
  padding: 0px 10vw 100px 10vw;
}

section figure img {
  width: 100%;
  height: 100%;
}

section figure a {
  display: block;
  text-align: center;
}

.container {
  margin: 0;
  padding: 0;
  position: relative;
  top: 160px;
}

section {
  max-width: 800px;
  padding: 1em;
  margin: 2em auto;
  border-radius: 10px;
  background-color: rgba(50, 50, 50, 0.8);
}

section:hover {
  border: 1px solid #ffee00;
}

@media only screen and (max-width: 1000px) {
  h1 {
    font-size: 2em;
  }
}
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 1.5em;
    margin: 12px;
  }

  h2 {
    font-size: 1.3em;
  }

  p {
    margin: 0;
    font-size: 1.3em;
  }
}
/* header */
header {
  height: 160px;
  background-image: url(../images/assets/brick-pattern.svg);
  background-repeat: repeat;
  background-size: auto 100px;
  background-position: bottom;
  position: fixed;
  top: 0;
  z-index: 6;
  color: #ffee00;
  /* navigation */
}
header nav {
  color: #ffee00;
  box-sizing: border-box;
  width: 100vw;
  background-color: rgba(50, 50, 50, 0.8);
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  padding: 0 12vw;
}
header nav .navContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
header nav .navContainer .audioSwich {
  font-size: 1.2em;
  background-color: transparent;
  border: none;
  color: #ffee00;
  cursor: pointer;
}
header nav .navContainer .audioSwich:hover {
  color: #ffee00;
}
header nav .navContainer .audioOn {
  display: block;
}
header nav .navContainer .audioOff {
  display: none;
}
header nav #company-logo {
  margin: 0 5px;
  padding: 3px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 3px;
}
header nav #company-logo:hover {
  border: none;
  background-color: rgba(255, 255, 255, 0.9);
  transform: scale(1);
}

#mc_embed_signup_scroll {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  color: #ffee00;
}

#mc_embed_signup input.button {
  background-color: #4b4b4b;
  color: #ffee00;
  padding: 0;
}

#mc_embed_signup input.button:hover {
  background-color: #323232;
  transform: scale(1.1);
  border: 1px solid #ffee00;
  color: #ffee00;
}

/* side tower */
.side {
  width: 10vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  z-index: 20;
}

.sideL {
  background-position: right;
  background-image: url(../images/assets/castel-sideL.svg);
  top: 0;
  left: 0;
}

.sideR {
  background-position: left;
  background-image: url(../images/assets/castel-sideR.svg);
  top: 0;
  right: 0;
}

footer {
  background-color: rgba(50, 50, 50, 0.8);
  width: 100vw;
  position: fixed;
  z-index: 15;
  bottom: 0;
}
footer ul li {
  margin: 3px 32px;
}
footer ul li a {
  margin: 3px;
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  header {
    height: 120px;
  }
  header h1 {
    display: none;
  }

  nav {
    margin: 0;
    padding: 0;
    justify-content: center;
  }
  nav .navContainer ul #play-game {
    display: none;
  }

  footer ul li {
    margin: 10px 20px;
  }
  footer ul li a img {
    width: 25px;
    height: 25px;
  }
}
/* torch */
.torchElement {
  display: block;
  height: 130px;
}

.sideL .torchElement {
  transform: translateX(-20%);
}

.sideR .torchElement {
  transform: translateX(20%);
}

.torch {
  fill: #323232;
}

.fireLeft {
  margin-right: 40px;
  animation: torchElement 1s infinite;
}

.fireRight {
  padding-right: 20px;
  animation: torchElement 1s infinite 0.5s;
}

.yellow {
  fill: #ff0;
}

.opacity {
  fill: #ff00089f;
  opacity: 0.71;
}

.red {
  fill: red;
}

@keyframes torchElement {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.door {
  margin-top: 100px;
  height: 100vh;
  width: 50vw;
  position: fixed;
  z-index: 5;
  background-repeat: repeat-y;
  background-position: center;
}

.leftOpen {
  top: 0;
  left: -40%;
  transition: 1.5s ease-out;
  background-image: url(../images/assets/door-left.svg);
}

.left {
  top: 0;
  left: 20px;
  transition: 1.5s ease-out;
  background-image: url(../images/assets/door-left.svg);
}

.rightOpen {
  top: 0;
  right: -40%;
  transition: 1.5s ease-out;
  background-image: url(../images/assets/door-right.svg);
}

.right {
  top: 0;
  right: 20px;
  transition: 1.5s ease-out;
  background-image: url(../images/assets/door-right.svg);
}

@media only screen and (max-width: 1000px) {
  .torchElement {
    display: none;
  }
}
#mc_embed_signup form {
  display: block;
  position: relative;
  text-align: left;
  padding: 10px 0 10px 3%;
}

#mc_embed_signup h2 {
  font-weight: bold;
  padding: 0;
  margin: 15px 0;
  font-size: 1.4em;
}

#mc_embed_signup input {
  border: 1px solid #999;
  -webkit-appearance: none;
}

#mc_embed_signup input[type=checkbox] {
  -webkit-appearance: checkbox;
}

#mc_embed_signup input[type=radio] {
  -webkit-appearance: radio;
}

#mc_embed_signup input:focus {
  border-color: #333;
}

#mc_embed_signup .button {
  clear: both;
  background-color: #aaa;
  border: 0 none;
  border-radius: 4px;
  letter-spacing: 0.03em;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  height: 32px;
  line-height: 32px;
  margin: 0 5px 10px 0;
  padding: 0;
  text-align: center;
  text-decoration: none;
  vertical-align: top;
  white-space: nowrap;
  width: auto;
  transition: all 0.23s ease-in-out 0s;
}

#mc_embed_signup .button:hover {
  background-color: #777;
}

#mc_embed_signup .small-meta {
  font-size: 11px;
}

#mc_embed_signup .nowrap {
  white-space: nowrap;
}

#mc_embed_signup .clear {
  clear: none;
  display: inline;
}

#mc_embed_signup label {
  display: block;
  font-size: 16px;
  padding-bottom: 10px;
  font-weight: bold;
}

#mc_embed_signup input.email {
  font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, Verdana, sans-serif;
  font-size: 15px;
  display: block;
  padding: 0 0.4em;
  margin: 0 4% 10px 0;
  min-height: 32px;
  width: 58%;
  min-width: 130px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

#mc_embed_signup input.button {
  display: block;
  width: 35%;
  margin: 0 0 10px 0;
  min-width: 90px;
}

#mc_embed_signup div#mce-responses {
  float: left;
  top: -1.4em;
  padding: 0em 0.5em 0em 0.5em;
  overflow: hidden;
  width: 90%;
  margin: 0 5%;
  clear: both;
}

#mc_embed_signup div.response {
  margin: 1em 0;
  padding: 1em 0.5em 0.5em 0;
  font-weight: bold;
  float: left;
  top: -1.5em;
  z-index: 1;
  width: 80%;
}

#mc_embed_signup #mce-error-response {
  display: none;
}

#mc_embed_signup #mce-success-response {
  color: #529214;
  display: none;
}

#mc_embed_signup label.error {
  display: block;
  float: none;
  width: auto;
  margin-left: 1.05em;
  text-align: left;
  padding: 0.5em 0;
}

#home {
  display: flex;
  flex-direction: column;
  justify-items: center;
  margin: 200px auto 0;
  color: white;
}

a {
  text-decoration: none;
  color: #ffee00;
}

.internal-text {
  cursor: text;
  text-decoration: none;
  color: white;
}

#home figure {
  width: 60%;
  margin: 10% 20%;
}

#home figure img {
  width: 100%;
}

/* narrative */
#narrative {
  display: flex;
  flex-direction: column;
  color: white;
}

a {
  text-decoration: none;
  color: #ffee00;
}

figure img {
  width: 70%;
  height: 100%;
}

/* team */
.team {
  display: flex;
  flex-wrap: wrap;
}

.team-member {
  margin: 0 auto;
  width: 350px;
  display: flex;
  color: #ffee00;
  align-items: center;
}

.team-member:hover {
  background-color: #323232;
}

.team-member a {
  display: inline-block;
  text-decoration: none;
  font-family: "Reggae One", cursive;
  color: #c8c8c8;
  width: 100%;
}

.team-member a:hover {
  color: #ffee00;
  text-decoration: underline;
}

.team-member img {
  max-width: 100px;
  margin: 1em;
}

.team-contact * {
  margin: 0 auto;
  text-align: center;
}

@media only screen and (max-width: 800px) {
  .team-member {
    display: flex;
    justify-content: center;
    font-size: 0.8em;
    margin: 1em auto;
    width: 350px;
    display: block;
    color: #434242;
    align-items: center;
  }

  .team-member img {
    display: block;
    margin: 1em auto;
  }
}
/* timeline */
.timeline-nav {
  margin: 3em;
}

.timeline {
  fill: #ffee00;
}

.week {
  cursor: pointer;
  fill: #c8c8c8;
  font-size: 14px;
  font-family: "Reggae One", cursive;
}

.week:hover {
  fill: #ffee00;
}

/* development */
.development {
  padding-top: 160px;
}

.development iframe {
  border: 0;
  margin: 5%;
  width: 90%;
}

.development figure img {
  max-width: 100%;
}

.development .video {
  max-width: 800px;
  margin: 2em;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.development iframe {
  width: 50%;
}

.development .small {
  box-sizing: border-box;
  margin: 0;
  padding: 1em;
}

hr {
  position: relative;
  top: 160px;
}

@media only screen and (max-width: 1000px) {
  .development .small {
    width: 80%;
  }
}
@media only screen and (max-width: 800px) {
  .development {
    padding-top: 2em;
  }

  .development .video {
    justify-content: center;
  }

  .development figure {
    padding: 0;
    margin: 0;
    max-width: 100%;
  }

  hr {
    position: relative;
    top: 2em;
  }

  .timeline-nav {
    display: none;
  }

  .development #video {
    display: none;
  }

  .team-member {
    font-size: 0.8em;
    margin: 1em auto;
    width: 350px;
    display: block;
    color: #434242;
    align-items: center;
  }

  .team-member img {
    margin: 0 auto;
  }
}
.unity-container {
  width: 100vw;
  height: 100vh;
}

#unity-canvas {
  position: relative;
  margin: 0 auto;
  top: calc(50vh - 300px);
  left: calc(50vw - 480px);
}

#unity-footer {
  display: flex;
  justify-content: center;
  position: relative;
  top: calc(50vh - 250px);
}

#unity-loading-bar {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

#unity-logo {
  width: 154px;
  height: 130px;
  background: url("../Build/TemplateData/unity-logo-dark.png") no-repeat center;
}

#unity-progress-bar-empty {
  width: 141px;
  height: 18px;
  margin-top: 10px;
  background: url("../Build/TemplateData/progress-bar-empty-dark.webp") no-repeat center;
}

#unity-progress-bar-full {
  width: 0%;
  height: 18px;
  margin-top: 10px;
  background: url("../Build/TemplateData/progress-bar-full-dark.webp") no-repeat center;
}

.unity-mobile #unity-footer {
  display: none;
}

#unity-build-title {
  margin-right: 10px;
  line-height: 38px;
  font-family: "Reggae One", cursive;
  color: #ffee00;
  font-size: 18px;
}

#unity-fullscreen-button {
  width: 38px;
  height: 38px;
  background: url("../Build/TemplateData/fullscreen-button.svg") no-repeat center;
}

#unity-fullscreen-button:hover {
  width: 38px;
  height: 38px;
  background: url("../Build/TemplateData/fullscreen-button-hover.svg") no-repeat center;
}

#unity-mobile-warning {
  position: absolute;
  left: 50%;
  top: 5%;
  transform: translate(-50%);
  background: white;
  padding: 10px;
  display: none;
}

#game-icon {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 10px;
}

.game-icon img {
  display: block;
  padding: 10px 20px;
  height: 38px;
}

@media only screen and (max-width: 480px) {
  .unity-container {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
