@import url("https://fonts.googleapis.com/css2?family=Reggae+One&display=swap");
/* global */
body {
	margin: 0;
	padding: 0;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}
/* navigation */
nav {
	background-color: rgb(75, 75, 75);
}
.navContainer {
	margin: 0 auto;
	max-width: 70vw;
	padding: 0 150px;
	color: white;
	display: flex;
	justify-content: space-between;
	/* align-items: top; */
}
/* submission form */
#mc_embed_signup_scroll {
	padding: 0;
	display: flex;
}
nav ul {
	display: flex;
	align-items: center;
}
nav ul li {
	padding: 0 1em;
}

header {
	height: 140px;
	width: 100vw;
	background-image: url(../images/castel-component.svg);
	/* background-repeat: no-repeat; */
	background-size: auto 140px;
	background-position: bottom;
	position: absolute;
	top: 50px;
	z-index: 0;
}
.headerNone {
	opacity: 0;
	transition-duration: 1.5s;
}
.headerDisplay {
	padding-top: 200px;
	opacity: 1;
	transition-duration: 1.5s;
}
header h1 {
	font-family: "Reggae One", cursive;
	text-align: center;
	text-transform: uppercase;
	color: rgb(255, 255, 255);
	padding-top: 40px;
	font-size: 50px;
	text-shadow: 5px 5px rgb(75, 75, 75);
}

header img {
	display: block;
	margin: 0 auto;
	width: 250px;
	padding: 10px;
}
header p {
	font-size: 2em;
	text-align: center;
	display: block;
	width: 50vw;
	margin: 2em auto;
	color: white;
	text-shadow: 5px 5px rgb(75, 75, 75);
}

.side {
	width: 130px;
	height: 100%;
	display: flex;
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	z-index: 20;
}
.sideL {
	background-position: right;
	background-image: url(../images/castel-sideL.svg);
	top: 0;
	left: 0;
}
.sideR {
	background-position: left;
	background-image: url(../images/castel-sideR.svg);
	top: 0;
	right: 0;
}
/* torch */
#torchElement {
	display: block;
	margin: 0 auto;
	width: 50px;
}
.torch {
	fill: #1a1a1a;
}
#fireLeft {
	animation: torchElement 1s infinite;
}
#fireRight {
	animation: torchElement 1s infinite 0.5s;
}
.yellow {
	fill: #ff0;
}

.opacity {
	fill: #ff00089f;
	opacity: 0.71;
}

.red {
	fill: red;
}
@keyframes torchElement {
	0% {
		opacity: 0.3;
	}
	100% {
		opacity: 1;
	}
}
/* door */
.door {
	margin-top: 100px;
	height: 100vh;
	width: 50vw;
	position: fixed;
	z-index: -10;
	background-size: 100%;
	background-image: url(../images/slide-short.svg);
}

.leftOpen {
	top: 0;
	left: -40%;
	transition: 1.5s ease-out;
}
.left {
	top: 0;
	left: 20px;
	transition: 1.5s ease-out;
}

.rightOpen {
	top: 0;
	right: -40%;
	transition: 1.5s ease-out;
}
.right {
	background-position: top;
	top: 0;
	right: 20px;
	transition: 1.5s ease-out;
}
footer {
	background-color: rgb(75, 75, 75);
	width: 100%;
	position: absolute;
	z-index: 15;
	bottom: 0;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
}
footer ul li {
	padding: 0px 30px;
}
footer ul li a {
	padding: 10px 30px;
	display: inline-block;
	font-size: 2em;
	color: white;
}

@media only screen and (min-width: 1300px) {
	header h1 {
		padding-top: 0;
		font-size: 70px;
	}
	header img {
		width: 350px;
	}
	.door {
		background-image: url(../images/brik.svg);
	}
	.side {
		width: 10vw;
	}
}
