@import url("https://fonts.googleapis.com/css2?family=Reggae+One&display=swap");

body {
	margin: 0;
	padding: 0;
}

header {
	height: 150px;
	width: 100vw;
	background-image: url(../images/castel-component.svg);
	/* background-repeat: no-repeat; */
	background-size: auto 150px;
	background-position: bottom;
	position: absolute;
	top: 0;
	z-index: -1;
}
.headerNone {
	opacity: 0;
	transition-duration: 1.5s;
}
.headerDisplay {
	padding-top: 200px;
	opacity: 1;
	transition-duration: 1.5s;
}
header h1 {
	font-family: "Reggae One", cursive;
	text-align: center;
	text-transform: uppercase;
	color: rgb(255, 255, 255);
	padding-top: 40px;
	font-size: 50px;
	text-shadow: 5px 5px rgb(75, 75, 75);
}

header img {
	display: block;
	margin: 0 auto;
	width: 250px;
}
header p {
	font-size: 2em;
	text-align: center;
	display: block;
	width: 50vw;
	margin: 2em auto;
	color: white;
	text-shadow: 5px 5px rgb(75, 75, 75);
}

#frame {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
}
.side {
	width: 150px;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	z-index: 20;
}
.sideL {
	background-position: right;
	background-image: url(../images/castel-sideL.svg);
	top: 0;
	left: 0;
}
.sideR {
	background-position: left;
	background-image: url(../images/castel-sideR.svg);
	top: 0;
	right: 0;
}
/* door */
.door {
	margin-top: 100px;
	height: 100vh;
	width: 50vw;
	position: fixed;
	z-index: -10;
	background-size: 100%;
	background-image: url(../images/slide-short.svg);
}

.leftOpen {
	top: 0;
	left: -40%;
	transition: 1.5s ease-out;
}
.left {
	top: 0;
	left: 20px;
	transition: 1.5s ease-out;
}

.rightOpen {
	top: 0;
	right: -40%;
	transition: 1.5s ease-out;
}
.right {
	background-position: top;
	top: 0;
	right: 20px;
	transition: 1.5s ease-out;
}

@media only screen and (min-width: 1300px) {
	h1 {
		padding-top: 0;
		font-size: 90px;
	}
	header img {
		width: 350px;
	}
	.door {
		background-image: url(../images/brik.svg);
	}
	.side {
		width: 10vw;
	}
}
